<div class="dashboard-grid">
  <div class="listings-column">
    <div class="video-nav">
      <span><strong>Your Content</strong></span>
      <div class="video-nav-links">
        <%= link_to "All Videos", creator_listings_path %>
        <%= link_to 'New Video', new_creator_listing_path,  {remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window', render_layout: false} %>
      </div>
    </div>
    <div class="listings-column-list">
      <% @listings.each do |listing| %>
        <div class="video-item-container">
          <img src="<%= listing.thumbnail %>"/>
          <div class="video-item">
            <div class="video-item-details">
              <span><strong><%= listing.name %></strong></span>
              <span><small>Genre</small></span>
              <span>0 Views</span>
              <span>0 Contracts</span>
            </div>
            <button class="video-item-button">details</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bullshit-column">
    <div class="graph-row">
      <div class="viewership">
        viewership
      </div>
      <div class="revenue">
        revenue
      </div>
    </div>
    <div class="statistics">
      statistics
    </div>
    <div class="contracts">
      contracts
    </div>
  </div>
</div>

<div class="modal" id="listing-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<div class="modal" id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
