<div class="bazaar-container">
  <div class="bazaar-row">
    <div class="bazaar-heading">
      <span><strong>Publishers</strong></span>
    </div>
    <div class="bazaar-publishers">
      <% @publishers.each do |pub| %>
        <div class="bazaar-item">
          <img src="<%= pub.cover_image_url %>" />
          <div class="bazaar-item-details">
            <span><strong><%= pub.name %></strong></span>
            <span><%= pub.description %></span>
            <span>0 Views</span>
          </div>
          <%= link_to "Details", creator_listing_path(pub.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="listing-show-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
