<div id ="chat-grid" class="chat-grid" data-company-id="<%= current_user.company.id %>">
  <%= render 'left', messages: @messages %>
  <div id="chat-window" class="conversation-column">
    <div class="empty-chat">
      <span>No message selected.</span>
    </div>
  </div>
  <div id="chat-details">
    <div class="empty-chat">
      <span>No message selected.</span>
    </div>
  </div>
</div>
