<div class="devise-view">
  <div class="devise-form">
    <span class="devise-logo">LOGO</span>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
      </div>


      <div class="devise-form-links">
        <div class="actions">
          <%= f.submit "Send Instructions" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>