<div>
  <div class="convo-item-container <%= @message.direction(current_user) %>">
    <div class="convo-item-bubble <%= @message.direction(current_user) %>">
      <%= @message.body %>
    </div>
  </div>
</div>