<div class="bazaar-container">
  <div class="bazaar-row">
    <div class="bazaar-heading">
      <span><strong>Creators</strong></span>
    </div>
    <div class="bazaar-publishers">
      <% @creators.each do |creator| %>
        <div class="bazaar-item">
          <img src="<%= creator.cover_image_url %>" />
          <div class="bazaar-item-details">
            <span><strong><%= creator.name %></strong></span>
            <span><%= creator.description %></span>
            <span>0 Views</span>
          </div>
          <%= link_to "Details", publisher_creator_path(creator.id), {remote: true, 'data-toggle':  "modal", render_layout: false} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="creator-show-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
