<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="listing-header">
      <div>
        <span class="listing-title"><strong>Feature Details</strong></span>
      </div>
      <div class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><strong>&times;</strong></span>
      </div>
    </div>
    <div>
      <video width="470" height="255" poster="<%= @video.thumbnail %>" controls>
        <source src="<%= @video.url %>" type="video/mp4">
      </video>
    </div>
  </div>
</div>
