/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 
  #EC4D77 - buttons, links
  #6F3291 - headline/important text
  #F5F5F5 - container backgrounds
  #9B9B9B - descriptions/placeholder
  #4A4A4A - body copy
  black   
  white

  Corner radius: 10px
  Background: #f5f5f5
  All content has 20px padding to edge of container
  Containers have 40px margin between containers on the side and 20px margin top to bottom

  lato - font
  headlines 20px
  
 */

.column-header {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.column-title {
  color: #6F3291;
  font-size: 20px;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
}
