.bazaar-container {
  width: 100%;
}

.bazaar-heading {
}

.bazaar-row {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  background-color: #F5F5F5;
  overflow: auto;
}

.bazaar-publishers {
  overflow-x: auto;
  flex: 1;
  display: flex;
  padding: 10px;
}

.bazaar-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.bazaar-item > img {
  width: 250px;
  height: 150px;
}

.bazaar-item-details {
  display: flex;
  flex: 1;
  flex-direction: column;
}