.chat-grid {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px 0px;
}

.chat-grid > div {
  border-radius: 10px;
  box-shadow: 0px 1px 6px grey;
  flex: 1;
  margin: 0px 10px;
}

.conversation-column {
  display: flex;
  flex-direction: column;
}

.conversation-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.empty-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-chat > span {
  font-size: 16px;
  font-weight: 600;
}

.chat-item {
  box-shadow: 1px 1px 6px grey;
  margin: 13px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  line-height: 1.2;
}

.chat-item.current {
  background-color: #6F3291 !important;
  color: white !important;
}

.chat-item > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  padding: 0px 5px;
}

.chat-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.chat-item-unread::after {
  content: "";
  padding: 6px;
  position: absolute;
  border-radius: 50%;
  top: 14px;
  left: 5px;
  background-color: #6F3291;
}

.chat-item-text {
  color: #9B9B9B;
  font-size: 14px;
}

.convo-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.convo-form {
  height: 135px;
}

.convo-item-container {
  margin: 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.convo-item-container.inbound {
  align-self: flex-start;
  align-items: flex-start;
}

.convo-item-container.outbound {
  align-self: flex-end;
  align-items: flex-end;
}

.convo-item-container.inbound > div {
  background-color: white;
  color: #6F3291;
}

.convo-item-container.outbound > div {
  background-color: #EC4D77;
  color: white;
}

.convo-item-bubble {
  max-width: 300px;
  /* box-shadow: 1px 1px 6px grey; */
  padding: 4px 10px;
  border-radius: 10px;
}

#chat-window {
  background-color: #4A4A4A;
}

.big-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#convo-form-input {
  margin-bottom: 12px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-details > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 15px 25px;
}

.chat-details-description {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.chat-details-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chat-details-bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-details-bottom > div > button {
  margin: 5px;
}