.dashboard-grid {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px 0px;
}

.listings-column {
  width: 400px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.bullshit-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bullshit-column {
  display: flex;
  flex: 1;
}

.graph-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.graph-row > div {
  flex: 1;
  display: flex;
  background-color: #ccc;
  margin: 0px 10px;
}

.dumb-info-row {
  display: flex;
  flex-direction: column;
}

.dumb-info-row > {
  display: flex;
  flex: 1;
}

.contracts {
  flex: 1;
  background-color: #ccc;
  margin: 0px 10px;
}

.statistics {
  background-color: #ccc;
  margin: 10px 10px;
}

.video-nav {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.video-nav-links > a {
  width: 25px;
  padding: 5px;
}

.listings-column-list {
  overflow: auto;
}

.video-item-container {
  height: 200px;
  margin: 20px;
  display: flex;
  background-color: white;
  flex-direction: row;
  border-radius: 5px;
}

.video-item-container > img {
  max-width: 200px;
  width: 50%;
  height: 200px;
}

.video-item-details {
  display: flex;
  flex-direction: column;
}

.video-item-button {
  align-self: center;
  width: 80%;
}

.video-item {
  display: flex;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}