.progress {
  width: 100%;
  margin: 0.2em 0 0.2em 0;
  display: block;
  height:  25px;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}

.progress .bar {
  padding: 0.1em 0.1rem 0.1rem 0.2rem;
  color: #9B9B9B;
  border-radius: 10px;
}