.new-video-form {
  padding: 12px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 6px grey;
  background-color: #F5F5F5;
}

.video-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.video-title {
  font-size: 16px;
}

.video-field > input[type="text"], textarea, select {
  width: 100%;
}

.video-field {
  margin-bottom: 1rem;
}

.show-video-modal {
  background-color: white;
  border-radius: 10px;
}

.video-player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.video-player {
  width: 100%;
  background-color: black;
  max-height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.video-player-details {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
}

.video-close {
  position: absolute;
  top: -5px;
  right: 8px;
  color: white;
}

.video-field.file-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file-field > label {
  width: 130px;
}

.file-field > input[type="file"] {
  width: 200px;
}