/* .new-video-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
 */
.new-video-form {
  padding: 12px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 1px 6px grey;
}

.video-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.video-title {
  font-size: 16px;
}

.video-field > input, textarea, select {
  width: 100%;
}

.video-field {
  margin-bottom: 1rem;
}

.show-video-modal {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-player {
  width: 100%;
  background-color: black;
  max-height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.video-player-details {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.video-close {
  position: absolute;
  top: -5px;
  right: 8px;
  color: white;
}