/* .new-video-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
 */
.new-video-form {
  padding: 12px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 1px 6px grey;
}

.video-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.video-title {
  font-size: 16px;
}

.video-field > input, textarea, select {
  width: 100%;
}

.video-field {
  margin-bottom: 1rem;
}