<h3>index</h3>
<%= link_to "New Video", new_creator_listing_path %>

<% @listings.each do |listing| %>
  <div>
    <img src="<%= listing.thumbnail %>" style="max-width: 200px"/>
    <h2><%= listing.name %></h2>
    <p><%= listing.description %></p>
  </div>
<% end %>
